<div class="button-row">
  <a mat-raised-button color="primary" (click)="studentDetails()">View Student</a>
</div>
<form [formGroup]="studentForm" (ngSubmit)="onFormSubmit(studentForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="name"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!studentForm.get('name').valid && studentForm.get('name').touched">Please enter Name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Class" formControlName="stclass"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!studentForm.get('stclass').valid && studentForm.get('stclass').touched">Please enter Student Class</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Address" formControlName="address"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!studentForm.get('address').valid && studentForm.get('address').touched">Please enter Student Address</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="City" formControlName="city"
           [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!studentForm.get('city').valid && studentForm.get('city').touched">Please enter Student City</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Country" formControlName="country"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!studentForm.get('country').valid && studentForm.get('country').touched">Please enter Country</span>
    </mat-error>
  </mat-form-field>

  <div class="button-row">
    <button type="submit" [disabled]="!studentForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon>Save</button>
  </div>
</form>
