<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/students']"> <mat-icon>keyboard_arrow_left</mat-icon> Students List</a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{student.name}}</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Name:</dt>
      <dd>{{student.name}}</dd>
      <dt>Class:</dt>
      <dd>{{student.stclass}}</dd>
      <dt>Address:</dt>
      <dd>{{student.address}}</dd>
      <dt>Country:</dt>
      <dd>{{student.country}}</dd>
      <dt>Update Date:</dt>
      <dd>{{student.updated_date | date}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/student-edit', student._id]"><mat-icon>edit</mat-icon> Edit </a>
    <a mat-raised-button color="warn" (click)="deleteStudent(student._id)"><mat-icon>delete</mat-icon> Delete</a>
  </mat-card-actions>
</mat-card>
